#about {
  padding: 20px;
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  /* padding-top: 50px; */
}

.education {
  margin: 30px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.education-card {
  padding: 20px;
  font-size: 18px;
  width: 90%;
}

.button {
  background-color: #ffffff00;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #3654ff;
  cursor: pointer;
}

.button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em;
}
