.name-wrapper {
  width: 80%;
  padding: 40px;
  margin: auto;
  /* margin-top: 100px; */
  font-size: 30px;
  padding-top: 200px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%); */
}

.loader {
  font-weight: 500;
  font-size: 35px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  /* padding: 10px 10px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}
.words::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 10px;
  color: blue;
  animation: spin_4991 5s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

@media (max-width: 800px) {
  .loader {
    font-size: 22px;
    height: 100px;
  }
}
