#skills {
  padding: 20px;
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 40px;
}

.skill-wrapper {
  margin: 20px;
}

.skills-card {
  text-align: left;
  margin: 5px;
  align-items: center;
}

.skills-card-name {
  font-size: 20px;
}

.vstack {
  margin: 20px;
}

.skills-card-img {
  margin: 10px;
}

.skills-box {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  color: white;
}
