#skills {
  padding: 20px;
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 40px;
  padding-top: 90px;
}

.skill-wrapper {
  margin: 20px;
}

.skills-card {
  text-align: left;
  margin: 5px;
  align-items: center;
}

.skills-card-name {
  font-size: 20px;
}

.vstack {
  margin: 20px;
}

.skills-card-img {
  margin: 10px;
  width: 30px;
}

.skills-box {
  cursor: pointer;
  transition: all ease 1s;
  background-color: white;
}
